params {
    // directories
    baseDirReports = "${launchDir}/reports"
    baseDirData    = "${launchDir}/data"
    readsOutDir    = "${baseDirData}/reads/raw"
}


/*
Sharing
*/

manifest {
    author = 'Trevor F. Freeman'
    defaultBranch = 'main'
    description = 'Fetch fastq files from SRA/ENA'
    homePage = 'https://github.com/trev-f/fetch-sra-fastq'
    mainScript = 'main.nf'
    name = 'Fetch SRA fastq'
    nextflowVersion = '>=22.04'
    version = '0.1.0'
}


/*
Reporting
*/

timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

dag {
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_dag.html"
}

report {
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_report.html"
}


timeline{
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_timeline.html"
}


trace {
    enabled = true
    file    = "${params.baseDirReports}/tracing/${timestamp}_trace.html"
}
