process {
    /*
    Set what happens if a process fails with common resource-related exit codes
    */
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
    maxRetries    = 1

    /*
    Set what happens if a curl process fails
    */
    withName: CurlFetchFastq {
        errorStrategy = { task.exitStatus in 1..99 ? 'retry' : 'finish' }
        maxRetries    = 2
    }
}
